services:
  cache: 
    image: redis:8.4.0-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - .data/cache:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  db:
    build: 
      context: ./db
      tags:
      - "hi-load-hl-db:0.01"
    env_file:
      - .env
    volumes:
      - .data/db:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 3s
      retries: 10
      start_period: 5s
      timeout: 3s

  api:
    build: 
      context: ./api
      tags:
        - "hi-load-hl-api:0.0.1"
    env_file:
      - .env
    ports: 
      - "1323:1323"
    depends_on:
      cache: 
        condition: service_healthy
      db: 
        condition: service_healthy

  prometheus: 
    build: ./prometheus
  grafana:
    image: grafana/grafana-enterprise
    restart: unless-stopped
    volumes:
      - .data/grafana:/var/lib/grafana
    ports:
      - '3000:3000'



