services:
  db:
    build: ./db
    env_file:
      - .env
    volumes:
      - .data/db:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 3s
      retries: 10
      start_period: 5s
      timeout: 3s

  api:
    build: ./api
    env_file:
      - .env
    ports: 
      - "1323:1323"
    depends_on:
      db: 
        condition: service_healthy

  prometheus: 
    build: ./prometheus
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    volumes:
      - .data/grafana:/var/lib/grafana
    ports:
      - '3000:3000'